<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/chat/chat.css">
<!-- <style>
    .cursor{cursor: pointer;}
    .bg-light-gray{background-color: #ddd}
    .bg-dark-gray{background-color: #f1f1f1}
    .name {
            height: 40px;
            width: 40px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 2.3;
        }
        .mtn-1{margin-top: 1%;}
        .window-height{height: 99vh;}
        #msg_list{overflow: auto;}
</style> -->

<div class="row">

        <% if (data.type == "A") { %>
            <div class="col-md-2">
                <div class="card card-info">
                    <div class="card-header text-center">Online Users</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" id="logged_users"></div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>


        <div class=" <%= data.type == 'U'? 'offset-md-2' : '' %> col-md-8">
            <div class="card window-height" id="chat_window">
                <div class="card-header">
                    <div class="row">
                            <div class="col-md-6"><%= data.name%></div>
                            <% if (data.type == "U") { %>
                                <div class="col-md-6"><a class="float-right" onclick="sendDisconnect(<%= data.userid %>)" href="/logout">Log Out</a></div>
                            <% } else { %>
                                <div class="col-md-6"><a class="float-right" href="/logout">Log Out</a></div>
                            <% } %>
                    </div>
                </div>
                <div class="card-body" id="sub_chat_window">

                    <% if (data.userid) { %>
                   
                    <div class="col-md-12 mb-1">
                        <div class="card">
                            <div class="card-body">
                                <div >
                                    <div id="msg_list"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12 msg-field">
                        <form action="" method="POST">
                            <div class="input-group mb-3">
                                <textarea type="text" class="form-control" placeholder="message" aria-label="message" id="message" aria-describedby="basic-addon2"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-info" type="button" id="send">Send</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <% } %>

                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat/common.js"></script>
    <% if (data.type == "A") { %>
        <script src="/js/chat/agent.js"></script>
    <% } %>
    <script>

        let socket = {};
        let user = {};
        let room = '';
        let isMsgFormSet = false;
        let typing = false;

        $(function () { 
                <% if (data.type == "U") { %>
                    $("#msg_list").height($("#chat_window").height()-220);
                    setMsgForm($("#chat_window").height()-240);
                    sendTypingMsg();
                <% } else { %>
                    $("#msg_list").height($("#chat_window").height()-120);
                <% } %>

                let chatUrl = "<%= typeof data.chatUrl != 'undefined' ? data.chatUrl : '' %>";
                //let socket = io(chatUrl);
                socket = io();
                user.userid = '<%= data.userid %>';
                user.name = '<%= data.name %>';
                user.msg = '';
                let type = '<%- data.type %>';
                room = '<%= data.type == "U" ? data.userid : "" %>';
                
                socket.on('connect', () => {  
                    <% if (data.type == "U") { %>
                        socket.emit("chat_join", user.userid, user.name);
                    <% } else { %>
                        socket.emit('get_online_users');
                    <% } %>
                });
                 
                <% if (data.type == "A") { %>
                    socket.on('logged_user', (data) => {
                        setLoggedUser(data);
                    });

                    socket.on('online_users', (data) => {
                        setLoggedUser(data); 
                    });
                <% } %>

                socket.on('chat_message', (user) => {
                    appendMsg(user);
                });

                socket.on('typing', (data) => {
                    if (data){
                        $("#typing").html(data);
                    } else {
                        $("#typing").html('');
                    }
                });
        });

        // let sendMsg = () => {
        //     $('#send').click(function (e) {
        //         user.body = $('#message').val();
        //         if (typeof user.body === 'undefined' || user.body == ""){
        //             Swal.fire({
        //                 type: 'error',
        //                 title: 'Oops...',
        //                 text: 'No text in the message box!',
        //             });
        //         } else {
        //             user.date = new Date();
        //             appendMsg(user);
        //             socket.emit('send_chat_message', room, user);
        //             socket.emit("typing", room, "");
        //             $('#message').val('');
        //         }
        //         return false;
        //     });
        // };

        // let sendTypingMsg = () => {
        //     $("#message").keyup(function(e){
        //         e.preventDefault();
        //         if ($(this).val() == ""){
        //             //console.log('not typing....'); 
        //             socket.emit("typing", room, "");
        //             typing = false;
        //         } else {
        //             //console.log('typing....');
        //             if (!typing){
        //                 socket.emit("typing", room, "typing...");
        //                 typing = true;
        //             }
        //         }
        //     });
        // };
        
        // function setChatWindos(element){
        //     room = $(element).attr('id');
        //     socket.emit('agent_connect', room, user.name);
        //     $("#msg_list").empty();
            
        //     if (isMsgFormSet==false){
        //         setMsgForm($("#chat_window").height()-220);
        //     }

        //     $.ajax({
        //         dataType    : "JSON",
        //         type        : "POST",
        //         url         : "/chat/chat-history/"+room,
        //         success     : function(res) {
        //             if (typeof res.response !== 'undefined' && Object.keys(res.response).length > 0) {
        //                 console.log(res.response);
        //                 res.response.forEach(element => {
        //                     appendMsg(element);
        //                 });
        //             }
        //         }
        //     });
        // } 

        // let setLoggedUser = (data) => {
        //     $("#logged_users").empty();
        //     if (typeof data !== 'undefined' && data !== null){
        //         for (let key in data){
        //             if ($("#"+key).length == 0){
        //                 let div = '<div class="col-12 pl-0 pr-0 cursor" id="'+key+'" onclick="setChatWindos(this)">';
        //                 div += '<div class="col-10 pl-0 pr-0"><span><i class="fa fa-user-circle-o text-success" aria-hidden="true"></i></span> '+data[key]+'</div>';
        //                 div += '</div>';
        //                 $("#logged_users").append(div);
        //             }
        //         }
        //     }
        // };


        // let sendDisconnect = (room) => {
        //     socket.emit('disconnect_chat',room);
        // };

        // let appendMsg = (element) => {
        //     let txt_algn = user.userid==element.userid ? "true" : "";
        //     let name_ary= element.name.split(" ");
        //     let nick = name_ary[0][0] + name_ary[1][0];

        //     let now = new Date();
        //     let utc_date = new Date(element.date);
        //     let server_date = utc_date.getFullYear()+":"+utc_date.getMonth()+":"+utc_date.getDate();         
        //     let local_date = now.getFullYear()+":"+now.getMonth()+":"+now.getDate();
        //     element.date = server_date == local_date ? utc_date.getHours()+":"+utc_date.getMinutes()+":"+utc_date.getSeconds() : server_date+" "+utc_date.getHours()+":"+utc_date.getMinutes()+":"+utc_date.getSeconds();
            
        //     let msgbox = '';
        //     if (txt_algn) {
        //         msgbox = '<div class="card bg-light-gray mb-2" id="'+element._id+'">';
        //         msgbox += '<div class="card-body">';
        //         msgbox += '<div class="row inline">';

        //         msgbox += '<div class="col-11 text-right">';
        //         msgbox += element.body;
        //         msgbox += '<small class="form-text text-muted mb-0">'+element.date+'</small>';
        //         msgbox += '</div>';
                
        //         msgbox += '<div class="col-1 text-right">';
        //         msgbox += '<div class="name bg-secondary text-white mtn-1">';
        //         //msgbox += element.name;
        //         msgbox += nick;
        //         msgbox += '</div>';
        //         msgbox += '</div>';

        //         msgbox += '</div>';
        //         msgbox += '</div>';
        //     } else {
        //         msgbox = '<div class="card bg-dark-gray other mb-1" id="'+element._id+'">';
        //         msgbox += '<div class="card-body">';
        //         msgbox += '<div class="row">';

        //         msgbox += '<div class="col-1 text-left">';
        //         //msgbox += element.name;
        //         msgbox += '<div class="name bg-info text-white">';
        //         msgbox += nick;
        //         msgbox += '</div>';
        //         msgbox += '</div>';

        //         msgbox += '<div class="col-11 text-left">';
        //         msgbox += element.body;
        //         msgbox += '<small class="form-text text-muted mb-0">'+element.date+'</small>';
        //         msgbox += '</div>';

        //         msgbox += '</div>';
        //         msgbox += '</div>';
        //     }  
        //     $("#msg_list").append(msgbox);  
        //     $("#msg_list").scrollTop($("#msg_list").prop('scrollHeight'));
        // };
        

        // let setMsgForm = (height) => {
        //     let html = "";
        //     html += '<div class="col-md-12 msg-field">';
        //     html += '<form action="" method="POST">';
        //     html += '<small class="form-text text-muted text-right font-weight-bold" id="typing"></small>';
        //     html += '<div class="input-group mb-3">';
        //     html += '<textarea type="text" class="form-control" placeholder="message" aria-label="message" id="message" aria-describedby="basic-addon2"></textarea>';
        //     html += '<div class="input-group-append">';
        //     html += '<button class="btn btn-outline-info" type="button" id="send">Send</button>';
        //     html += '</div>';
        //     html += '</div>';
        //     html += '</form>';
        //     html += '</div>';
            
        //     $("#msg_list").height(height);
        //     $("#sub_chat_window").append(html);
        //     sendMsg();
        //     sendTypingMsg();
        //     return isMsgFormSet = true;
        // };
    </script>
 