<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/chat/chat.css">

<div class="row" id="main_window">

        <% if (data.type == "A") { %>
            <div class="col-md-2">
                <div class="card card-info">
                    <div class="card-header text-center">Online Users</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" id="logged_users"></div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>


        <div class=" <%= data.type == 'U'? 'offset-md-2 col-md-7' : 'col-md-7' %>  p-0" id="m_chat_window">
            <div class="card window-height" id="chat_window">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6"><%= data.name%></div>
                        <% if (data.type == "U") { %>
                            <div class="col-md-6"><a class="float-right" onclick="sendDisconnect(<%= data.userid %>)" href="/logout">Log Out</a></div>
                        <% } else { %>
                            <div class="col-md-6"><a class="float-right" href="/logout">Log Out</a></div>
                        <% } %>
                    </div>
                </div>
                <div class="card-body" id="sub_chat_window">
                    <div class="card-subtitle text-right">
                        <div class="btn-group">
                            <% if (data.type == "A") { %>
                                <button type="button" class="btn btn-warning invisible" id="c_btn" onclick="showAgentAudioContent(true)" ><i class="fa fa-phone" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-primary invisible" id="v_btn" onclick="showAgentVideoContent(true)" ><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                            <% } %>
                        </div> 
                    </div>
                    
                    <% if (data.userid) { %>
                        <div class="col-md-12 mb-1 p-0">
                            <div class="card">
                                <div class="card-body">
                                    <div >
                                        <div id="msg_list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <% //if (data.type == "A") { %>
            <div class="col-md-3 invisible" id="v_window">
                
                <div class="card p-0" id="self_video_window">
                    <div class="card-body p-0">
                        <div class="col-12 d-flex justify-content-center p-0">
                            <div class="embed-responsive embed-responsive-16by9 p-0" id="self_camera">
                                <video class="embed-responsive-item p-0" muted></video>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        <% //} %>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat/common.js"></script>
    <script src="/js/video.bundle.js"></script>
    
    <% if (data.type == "A") { %>
        <script src="/js/chat/agent.js"></script>
    <% } %>
    <% if (data.type == "U") { %>
        <script src="/js/chat/client.js"></script>
    <% } %>
    
    <script>
        let user = {};
        user.userid = '<%= data.userid %>';
        user.name = '<%= data.name %>';
        user.msg = '';
        let type = '<%- data.type %>';
        room = '<%= data.type == "U" ? data.userid : "" %>';
        let chatUrl = "<%= typeof data.chatUrl != 'undefined' ? data.chatUrl : '' %>"; 
    </script>
  
   

  